<!DOCTYPE html>
<html lang="en" data-ng-app="myApp">

<head>
    <meta charset="utf-8">
    <title>ng-onboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="ng-onboard - Angular wrapper for onboard.js">

    <!-- styles -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/demo.css" rel="stylesheet">
    <link href="assets/css/bootstrap-responsive.min.css" rel="stylesheet">

    <!-- Add IntroJs styles -->
    <link href="../bower_components/onboard.js/onboard.css" rel="stylesheet">

</head>

<body>
    <div class="container-narrow" ng-controller="MyController" ng-onboard-options="onboardOptions" ng-onboard-method="startOnboard">
        <div class="masthead">
            <ul id="step5" class="nav nav-pills pull-right">
                <li><a href="https://github.com/tannerlinsley/ng-onboard/tree/master/build"><i class='icon-black icon-download-alt'></i> Download</a>
                </li>
                <li><a href="https://github.com/tannerlinsley/ng-onboard">Github</a>
                </li>
            </ul>
            <h3 class="muted">ng-onboard</h3>
        </div>

        <div class="jumbotron">
            <h1 id="step1">ng-onboard</h1>
            <p id="step4" class="lead">AngularJS directives for <a href="http://usablica.github.io/onboard.js/" onclick="window.open(this.href);return false;">onboard.js</a>
            </p>
            <a class="btn btn-large btn-success" ng-click="startOnboard();">Demo</a>
        </div>

        <div class="row-fluid marketing">
            <div id="step2" class="span6">
                <h4>Setup</h4>
                <p>Include the JS and CSS files for onboard.js, and ng-onboard.min.js. Add the module
                    <code>ng-onboard</code>to your app declaration.</p>

                <h4>Options</h4>
                <p>Set the options like so:
                    <code>ng-onboard-options="onboardOptions"</code>. Define
                    <code>$scope.onboardOptions</code>in your controller. The format is exactly the same as the <a href="https://github.com/usablica/onboard.js#options">original</a>.</p>

                <h4>Methods</h4>
                <p>Pick a method name,
                    <code>ng-onboard-method="startOnboard"</code>. You can invoke the intro from elsewhere by calling
                    <code>startOnboard();</code>.
                    <code>ng-onboard-stop="stopOnboard"</code>. You can invoke the intro from elsewhere by calling
                    <code>stopOnboard();</code>.
                </p>

                <p>See <a href="https://github.com/tannerlinsley/ng-onboard/blob/master/example/index.html">index.html</a> and <a href="https://github.com/tannerlinsley/ng-onboard/blob/master/example/app.js">app.js</a> for usage code.</p>
            </div>

            <div id="step3" class="span6">
                <h4><a href="https://github.com/tannerlinsley/ng-onboard/tree/master/example">Example</a>
                </h4>
                <p>Set the options and method name:
                    <pre>
&lt;div ng-controller="MyController"
     ng-onboard-options="onboardOptions"
     ng-onboard-method="startOnboard" ...
		               </pre>
                </p>

                <p>Options in the controller
                    <pre>
$scope.onboardOptions = {
steps:[
{
    selector: '#step1',
    intro: "First tooltip"
},
{
    selector: '#step4',
    intro: "Second tooltip",
},
...
		            </pre>
                </p>

                <p>Call it either way
                    <pre>&lt;button ng-click="startOnboard();"&gt;Go&lt;/button&gt;</pre>
                    <pre>$scope.startOnboard();</pre>
                </p>

            </div>
        </div>

        <hr>

    </div>
    <script type="text/javascript" src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="../bower_components/onboard.js/onboard.js"></script>
    <script type="text/javascript" src="../bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="../src/ng-onboard.js"></script>
    <script type="text/javascript" src="app.js"></script>

</body>

</html>